
h1 {
    font-family:Impact, Haettenschweiler, 'Arial Bold', sans-serif;
    font-size: 68px;
    font-weight: 900;
    text-align: center;

}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    font-weight: 800;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
#basic {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-align: right;
    color: green;
}
div {
    border: 6px solid black;
    border-radius: 40px;
    margin: 5;
    padding: 15px;
}
div.ex1 {
    border-color: green;
}
div.ex2 {
    border-color: blue;
}
div.ex3{
    border-color: red;
}
p.one {
    text-align: right;
    overflow: auto;
}
p.image1{
    text-align: left;
}
#airforce {
    text-align: left;
}
p.two{
    text-align: left;
    overflow:auto
}
#career{
    text-align: right;
    color: blue;
}
p.three{
    text-align: right;
    overflow: auto;
}
#passion{
    text-align: left;
}
p.four{
    text-align: left;
    overflow: auto;
}
#impact{
    text-align: right;
    color: red;
}
p.five{
    text-align: right;
    overflow: auto;
}
#legacy{
    text-align: left;
}
p.six{
    text-align: left;
    overflow: auto;
}
img {
    border: 5px black;
    border-style: ridge;
}
#pokerchips{
    border: 0px;
    text-align: center;
}
#picture1{
    border-color: green;
}
#picture2{
    border-color: blue;
}
#picture3{
    border-color: red;
}